[workspace]
members = ["packages/*"]
exclude = ["contracts"]

resolver = "2"

[workspace.package]
version = "3.0.3-dev"

[workspace.dependencies]
cosmwasm-core = { path = "./packages/core" }
cosmwasm-crypto = { path = "./packages/crypto" }
cosmwasm-derive = { path = "./packages/derive" }
cosmwasm-schema = { path = "./packages/schema" }
cosmwasm-schema-derive = { path = "./packages/schema-derive" }
cosmwasm-std = { path = "./packages/std", default-features = false }
cosmwasm-vm = { path = "./packages/vm" }
cosmwasm-vm-derive = { path = "./packages/vm-derive" }
cw-schema = { path = "./packages/cw-schema" }
cw-schema-derive = { path = "./packages/cw-schema-derive" }
schemars = "0.8.4"
serde = { version = "1.0.192", default-features = false, features = ["alloc", "derive"] }
serde_json = "1.0.140"
thiserror = "1.0.26"
