[workspace]
members = ["packages/*"]
exclude = ["contracts"]

resolver = "2"

[workspace.package]
version = "2.3.0"

[workspace.dependencies]
cosmwasm-core = "2.3.0"
cosmwasm-crypto = "2.3.0"
cosmwasm-derive = "2.3.0"
cosmwasm-schema = "2.3.0"
cosmwasm-schema-derive = "2.3.0"
cosmwasm-std = { version = "2.3.0", default-features = false }
cosmwasm-vm = "2.3.0"
cosmwasm-vm-derive = "2.3.0"
schemars = "0.8.4"
serde = { version = "1.0.192", default-features = false }
serde_json = "1.0.140"
thiserror = "1.0.26"
