[workspace]
members = ["packages/*"]
exclude = ["contracts"]

resolver = "2"

[workspace.package]
version = "2.2.4-dev"

[workspace.dependencies]
cosmwasm-core = { path = "packages/core" }
cosmwasm-schema-derive = { path = "packages/schema-derive" }
cosmwasm-schema = { path = "packages/schema" }
cosmwasm-vm-derive = { path = "packages/vm-derive" }
cosmwasm-derive = { path = "packages/derive" }
cosmwasm-crypto = { path = "packages/crypto" }
cosmwasm-std = { path = "packages/std", default-features = false }
cosmwasm-vm = { path = "packages/vm" }
cosmwasm-check = { path = "packages/check" }
schemars = "0.8.4"
serde = { version = "1.0.192", default-features = false, features = ["alloc", "derive"] }
serde_json = "1.0.140"
thiserror = "1.0.26"
