[workspace]
members = ["packages/*"]
exclude = ["contracts"]

# Resolver has to be set explicitly in workspaces
# due to https://github.com/rust-lang/cargo/issues/9956
resolver = "2"

[workspace.package]
version = "2.2.2"

[workspace.dependencies]
cosmwasm-core = { version = "2.2.2" }
cosmwasm-crypto = { version = "2.2.2" }
cosmwasm-derive = { version = "2.2.2" }
cosmwasm-schema = { version = "2.2.2" }
cosmwasm-schema-derive = { version = "2.2.2" }
cosmwasm-std = { version = "2.2.2", default-features = false }
cosmwasm-vm = { version = "2.2.2" }
cosmwasm-vm-derive = { version = "2.2.2" }
cw-schema = { version = "2.2.2" }
cw-schema-derive = { version = "2.2.2" }
schemars = "0.8.4"
serde = { version = "1.0.192", default-features = false, features = [
    "alloc",
    "derive",
] }
serde_json = "1.0.140"
thiserror = "1.0.26"

