[workspace]
members = ["packages/*"]
exclude = ["contracts"]

resolver = "2"

[workspace.package]
version = "2.2.3"

[workspace.dependencies]
# Keep the cosmwasm-* dependencies in publishing order:
cosmwasm-core = { version = "2.2.3" }
cosmwasm-schema-derive = { version = "2.2.3" }
cosmwasm-schema = { version = "2.2.3" }
cosmwasm-vm-derive = { version = "2.2.3" }
cosmwasm-derive = { version = "2.2.3" }
cosmwasm-crypto = { version = "2.2.3" }
cosmwasm-std = { version = "2.2.3", default-features = false }
cosmwasm-vm = { version = "2.2.3" }
# Now, do not forget to publish 'cosmwasm-check'

schemars = "0.8.4"
serde = { version = "1.0.192", default-features = false, features = ["alloc", "derive"] }
serde_json = "1.0.140"
thiserror = "1.0.26"
