[workspace]
members = ["packages/*"]
exclude = ["contracts"]

resolver = "2"

[workspace.package]
version = "3.0.1"

[workspace.dependencies]
schemars = "0.8.4"
serde = { version = "1.0.192", default-features = false, features = [
    "alloc",
    "derive",
] }

[workspace.metadata.release]
shared-version = true
tag-message = "chore: Release cosmwasm v{{version}}"
tag-name = "v{{version}}"
