[package]
name = "cw-schema"
version.workspace = true
edition = "2021"

[dependencies]
cw-schema-derive = { version = "=2.1.3", path = "../cw-schema-derive" }
indexmap = { version = "2.3.0", default-features = false }
schemars = { version = "1.0.0-alpha.2", optional = true }
serde = { version = "1.0.204", features = ["derive"] }
serde_with = { version = "3.9.0", default-features = false, features = [
    "macros",
] }
siphasher = { version = "1.0.1", default-features = false }

[dev-dependencies]
insta = { version = "1.39.0", features = ["json"] }
pretty_assertions = "1.4.0"
serde_json = "1.0.120"

[features]
default = ["std"]
std = ["dep:schemars"]
