[package]
name = "cw-schema"
version = { workspace = true }
authors = ["Aumetra Weisman <aumetra@cryptolab.net>"]
edition = "2021"
description = "A dependency for CosmWasm contracts to generate schema files for their messages."
repository = "https://github.com/CosmWasm/cosmwasm/tree/main/packages/cw-schema"
license = "Apache-2.0"

[dependencies]
cw-schema-derive = { workspace = true }
indexmap = { version = "2.3.0", default-features = false }
schemars = { version = "1.0.4", optional = true }
serde = { version = "1.0.204", features = ["derive"] }
serde_with = { version = "3.9.0", default-features = false, features = ["macros"] }
siphasher = { version = "1.0.1", default-features = false }
typeid = "1.0.3"

[dev-dependencies]
insta = { version = "1.39.0", features = ["json"] }
pretty_assertions = "1.4.0"
serde_json = "1.0.120"

[features]
default = ["std"]
std = ["dep:schemars"]
