[package]
name = "secret-cosmwasm-std"
version = "1.0.0"
authors = ["Ethan Frey <ethanfrey@users.noreply.github.com>", "SCRT Labs <info@scrtlabs.com>"]
edition = "2021"
description = "Standard library for Wasm based smart contracts on Cosmos blockchains"
repository = "https://github.com/scrtlabs/cosmwasm/tree/secret/packages/std"
license = "Apache-2.0"
readme = "README.md"

[package.metadata.docs.rs]
features = ["stargate", "staking", "ibc3"]

[features]
default = []
abort = []
# iterator allows us to iterate over all DB items in a given range
# optional as some merkle stores (like tries) don't support this
# given Ethereum 1.0, 2.0, Substrate, and other major projects use Tries
# we keep this optional, to allow possible future integration (or different Cosmos Backends)
iterator = []
# staking exposes bindings to a required staking moudle in the runtime, via new
# CosmosMsg types, and new QueryRequest types. This should only be enabled on contracts
# that require these types, so other contracts can be used on systems with eg. PoA consensus
staking = []
# backtraces provides much better context at runtime errors (in non-wasm code)
# at the cost of a bit of code size and performance.
# This feature requires Rust nightly because it depends on the unstable backtrace feature.
backtraces = []
# stargate enables stargate-dependent messages and queries, like raw protobuf messages
# as well as ibc-related functionality
stargate = []
# ibc3 extends ibc messages with ibc-v3 only features. This should only be enabled on contracts
# that require these types. Without this, they get the smaller ibc-v1 API.
ibc3 = ["stargate"]

# Add random seed to env in inits and executes
random = []

[dependencies]
base64 = "0.13.0"
cosmwasm-derive = { path = "../derive", version = "1.0.0" }
uint = "0.9.3"
serde-json-wasm = { version = "0.4.1" }
schemars = "0.8.1"
serde = { version = "1.0.103", default-features = false, features = [
    "derive",
    "alloc"
] }
thiserror = "1.0"
forward_ref = "1"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
cosmwasm-crypto = { path = "../crypto", package = "secret-cosmwasm-crypto", version = "1.0.0" }

[dev-dependencies]
cosmwasm-schema = { path = "../schema" }
# The chrono dependency is only used in an example, which Rust compiles for us. If this causes trouble, remove it.
chrono = { version = "0.4", default-features = false, features = [
    "alloc",
    "std"
] }
hex = "0.4"
hex-literal = "0.3.1"
