[package]
name = "cosmwasm-check"
version = { workspace = true }
authors = ["Mauro Lacy <mauro@lacy.com.es>"]
description = "A CLI tool for verifying CosmWasm smart contracts"
repository = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

[dependencies]
anyhow = "1.0.57"
clap = "4"
colored = "2.1.0"
cosmwasm-vm = { workspace = true }
cosmwasm-std = { workspace = true, default-features = true }

[dev-dependencies]
assert_cmd = "2.0.12"
predicates = "3"
tempfile = "3.1.0"
