[package]
name = "cosmwasm-check"
version.workspace = true
authors = ["Mauro Lacy <mauro@lacy.com.es>"]
edition = "2021"
description = "A CLI tool for verifying CosmWasm smart contracts"
repository = "https://github.com/CosmWasm/cosmwasm/tree/main/packages/check"
license = "Apache-2.0"

[dependencies]
anyhow = "1.0.57"
clap = "4"
colored = "2.1.0"
cosmwasm-vm = { path = "../vm", version = "=2.2.0-rc.3" }
cosmwasm-std = { path = "../std", version = "=2.2.0-rc.3" }

[dev-dependencies]
assert_cmd = "2.0.12"
predicates = "3"
tempfile = "3.1.0"
