[package]
name = "hackatom"
version = "0.1.0"
authors = ["Ethan Frey <ethanfrey@users.noreply.github.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'unwind'
incremental = false
overflow-checks = true


[dependencies]
serde_json = { version = "1.0.39", features = ["raw_value"] }
serde = { version = "1.0", default-features = false, features = ["derive"] }
heapless = "0.4.0"
failure = "0.1.5"