[package]
name = "cosmwasm-crypto"
version.workspace = true
authors = ["Mauro Lacy <maurolacy@users.noreply.github.com>"]
edition = "2021"
description = "Crypto bindings for cosmwasm contracts"
repository = "https://github.com/CosmWasm/cosmwasm/tree/main/packages/crypto"
license = "Apache-2.0"

[lib]
# See https://bheisler.github.io/criterion.rs/book/faq.html#cargo-bench-gives-unrecognized-option-errors-for-valid-command-line-options
bench = false

[dependencies]
ark-bls12-381 = "0.4.0"
ark-ec = { version = "0.4.2", features = ["parallel"] }
ark-ff = { version = "0.4.2", features = ["asm", "parallel"] }
ark-serialize = "0.4.2"
cosmwasm-core = { version = "2.2.0-rc.3", path = "../core" }
digest = "0.10"
ecdsa = "0.16.2"                                                              # Not used directly, but needed to bump transitive dependency, see: https://github.com/CosmWasm/cosmwasm/pull/1899 for details.
ed25519-zebra = { version = "4.0.3", default-features = false }
k256 = { version = "0.13.3", default-features = false, features = ["ecdsa"] }
num-traits = "0.2.18"
p256 = { version = "0.13.2", default-features = false, features = ["ecdsa"] }
rand_core = "0.6"
rayon = "1.9.0"
sha2 = "0.10"
thiserror = "1.0.26"

# Not directly used but bumps transitive dependency to avoid <RUSTSEC-2024-0344>
curve25519-dalek = "4.1.3"

[dev-dependencies]
base64 = "0.22.0"
base64-serde = "0.7.0"
criterion = "0.5.1"
rand_core = { version = "0.6", features = ["getrandom"] }
serde = { version = "1.0.103", default-features = false, features = [
    "alloc",
    "derive",
] }
serde_json = "1.0.40"
sha2 = "0.10"
sha3 = "0.10"
hex = { version = "0.4", features = ["serde"] }
hex-literal = "0.4.1"
english-numbers = "0.3"
glob = "0.3.1"

[features]
default = ["std"]
std = []

[[bench]]
name = "main"
harness = false
required-features = ["std"]
