[package]
name = "go-gen"
authors = ["Christoph Otter <chris@confio.gmbh>"]
version = "0.1.0"
repository = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
publish = false

[dependencies]
cosmwasm-std = { workspace = true, default-features = true, features = ["cosmwasm_3_0", "staking", "stargate"] }
cosmwasm-schema = { workspace = true }
anyhow = "1"
indenter = "0.3.3"
schemars = { workspace = true }
heck = "0.5.0"
