[package]
name = "go-gen"
version = { workspace = true }
authors = ["Christoph Otter <chris@confio.gmbh>"]
edition = "2021"
publish = false

[dependencies]
cosmwasm-std = { workspace = true, features = ["cosmwasm_2_2", "staking", "stargate"] }
cosmwasm-schema = { workspace = true }
anyhow = "1"
Inflector = "0.11.4"
indenter = "0.3.3"
schemars = { workspace = true }
